/*Tranzitii line intre moduri*/
* {
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

/* Modul normal White*/
#main_spa_div {
  --bg: #ffffff;
  --text: #1a1a1a;
  --muted: #666;
  --card-bg: #f5f5f5;
}

/*Dark mode*/
#main_spa_div.dark {
  --bg: #121212;
  --text: #f1f1f1;
  --muted: #b0b0b0;
  --card-bg: #1e1e1e;
}

#main_spa_div {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  color: var(--text);
}

/* Containerul principal al aplicației */
/*se seteaza culoarea */
#main_spa_div {
  /* limitează lățimea pe ecrane mari */
  /*max-width: 1280px;
  /* centrează containerul pe orizontală */
  margin: 0 auto;
  /* spațiu interior pentru aerisire */
  padding: 2rem;
  min-width: 100vw;

  color: var(--text); /* asigură culoarea textului din temă */
  /*}/*/

  /* Se folosesc variabilele de tema */
  /*body {**/
  background: var(--bg);
  color: var(--text);
}
